# quacc specific ignores
quacc-*
POTCAR*
scratch_path.txt
tmp_path.txt
tmp*
cache*

# Docs 
.cache/
docs/reference/*
*doctrees*

# Python ignores
*.pyc
*.egg*
__pycache__
build
dist
timer.dat
.mypy_cache*
.ipynb_checkpoints
ipython_config.py

# OS ignores
.DS_Store

# Editors ignores
.vscode*

# Workflow ignores
*parsl.log
runinfo