[build-system]
requires = ["setuptools >= 42", "versioningit ~= 1.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "quacc"
description="A platform to enable high-throughput, database-driven quantum chemistry and computational materials science"
version = "0.2.1"
readme = "README.md"
license = { text = "BSD-3" }
authors = [{ name = "Andrew S. Rosen", email = "asrosen93@gmail.com" }]
maintainers = [{ name = "Andrew S. Rosen", email = "asrosen93@gmail.com" }]
keywords = ["high-throughput", "automated", "workflow", "dft"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering",
    "Operating System :: Windows",
    "Operating System :: Unix",
    "Operating System :: MacOS",
]
requires-python = ">=3.9, <3.12"
dependencies = [
    "ase>3.22.1",
    "cclib>=1.8",
    "custodian>=2023.6.5",
    "emmet-core>=0.51.11",
    "maggma>=0.51.18",
    "monty>=2023.4.10",
    "numpy>=1.24.0",
    "pydantic<2",
    "pymatgen>=2023.6.23",
]

[project.optional-dependencies]
covalent = ["covalent>=0.226.0rc0", "covalent-hpc-plugin>=0.0.2"]
jobflow = ["jobflow>=0.1.13", "fireworks>=2.0.3"]
optimizers = ["sella>=2.3.2"]
parsl = ["parsl>=2023.8.14"]
prefect = ["prefect>=2.10.18", "prefect-dask>=0.2.4", "dask-jobqueue>=0.8.2"]
tblite = ["tblite[ase]>=0.3.0; platform_system=='Linux'"]
dev = ["black>=23.7.0", "isort>=5.12.0", "pytest>=7.4.0", "pytest-cov>=4.1.0"]
docs = [
    "mkdocs-material>=9.1.21",
    "mkdocstrings[python]>=0.22.0",
    "mkdocs-gen-files>=0.5.0",
    "mkdocs-literate-nav>=0.6.0",
    "pillow>=10.0.0",
    "cairosvg>=2.7.1"
]
strict = [
    "ase>3.22.1",
    "cclib==1.8",
    "custodian==2023.7.22",
    "emmet-core==0.64.6",
    "maggma==0.53.1",
    "monty==2023.8.8",
    "numpy==1.25.2",
    "pydantic==1.10.2",
    "pymatgen==2023.8.10",
]

[project.scripts]
quacc = "quacc._cli.cli:cli"

[project.urls]
repository = "https://github.com/Quantum-Accelerators/quacc"
documentation = "https://quantum-accelerators.github.io/quacc/"
changelog = "https://github.com/Quantum-Accelerators/quacc/blob/main/CHANGELOG.md"

[tool.setuptools.package-data]
quacc = ["py.typed"]
"quacc.presets.vasp" = ["*.yaml"]

[tool.pyright]
include = ["quacc"]
exclude = ["**/__pycache__"]

[tool.versioningit.vcs]
method = "git"
default-tag = "0.0.1"

[tool.pytest.ini_options]
addopts = "-p no:warnings"
log_level = "ERROR"

[tool.black]
exclude = '''
/(
    \.git
  | \.tox
)/
'''

[tool.isort]
profile = 'black'
skip_gitignore = true

[tool.coverage.report]
exclude_lines = [
    "if TYPE_CHECKING:",
    "if __name__ == .__main__.:",
]
