git+https://gitlab.com/ase/ase.git # waiting on >= 3.22.2 for VASP6 OUTCAR parsing
pymatgen==2022.3.7
custodian==2022.2.13
jobflow==0.1.6
atomate2==0.0.6
monty==2022.3.12
FireWorks==2.0.2
cclib==1.7.1