git+https://gitlab.com/argon214/ase.git@rosen-dftb # waiting on #2682 for DFTB+, >= 3.22.2 for VASP6 OUTCAR parsing
pymatgen==2022.5.18.1
custodian==2022.5.17
jobflow==0.1.8
atomate2==0.0.7
monty==2022.4.26
fireworks==2.0.3
cclib==1.7.1
