git+https://gitlab.com/ase/ase.git # waiting on >= 3.22.2 for VASP6 OUTCAR parsing
pymatgen==2022.3.24
git+https://github.com/arosen93/custodian.git #waiting for #211
git+https://github.com/materialsproject/jobflow.git #waiting on #121
atomate2==0.0.6
git+https://github.com/materialsvirtuallab/monty.git #waiting on #363
git+https://github.com/materialsproject/fireworks.git # waiting on #483
cclib==1.7.1
