ase @ git+https://gitlab.com/ase/ase.git
custodian==2025.8.13
emmet-core==0.84.9
frozendict==2.4.6
monty==2025.3.3
psutil==7.1.0
pydantic==2.11.9
pydantic-settings==2.10.1
pymatgen==2025.6.14
ruamel.yaml==0.18.15
typer==0.17.4
