name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests-base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,optimizers]

      - name: Run tests with pytest
        run: pytest --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-base-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[dev]

      - name: Run tests with pytest
        run: pytest --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-tblite:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,tblite]

      - name: Run tests with pytest
        run: pytest -k 'tblite' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-psi4:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: quacc-env

      - name: Install conda packages
        run: |
          conda install -n base conda-libmamba-solver
          conda install psi4 python=3.11 -c conda-forge/label/libint_dev -c conda-forge --solver libmamba

      - name: Install pip packages
        run: pip install .[strict,dev]

      - name: Run tests with pytest
        run: pytest -k 'psi4' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-dftbplus:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: quacc-env

      - name: Install conda packages
        run: conda install -c conda-forge dftbplus

      - name: Install pip packages
        run: pip install .[strict,dev]

      - name: Run tests with pytest
        run: pytest -k 'dftb' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-covalent:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,covalent]

      - name: Make quacc config
        run: |
          echo "WORKFLOW_ENGINE: covalent" > ~/.quacc.yaml

      - name: Set up Covalent server
        run: |
          echo "y" | covalent purge
          covalent start

      - name: Run tests with pytest
        run: pytest -k 'covalent' --cov=quacc --cov-report=xml

      - name: Stop Covalent server
        run: covalent stop

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-parsl:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,parsl]

      - name: Make quacc config
        run: |
          echo "WORKFLOW_ENGINE: parsl" > ~/.quacc.yaml

      - name: Run tests with pytest
        run: pytest -k 'parsl' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-jobflow:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,jobflow]

      - name: Make quacc config
        run: |
          echo "WORKFLOW_ENGINE: jobflow" > ~/.quacc.yaml

      - name: Run tests with pytest
        run: pytest -k 'jobflow or fireworks' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error

  tests-prefect:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.11"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,prefect]

      - name: Make quacc config
        run: |
          echo "WORKFLOW_ENGINE: prefect" > ~/.quacc.yaml

      - name: Run tests with pytest
        run: pytest -k 'prefect' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: |
          export GITHUB_HEAD_REF=$GITHUB_REF
          codecovcli --verbose create-commit --fail-on-error 
          codecovcli --verbose create-report --fail-on-error 
          codecovcli --verbose do-upload --fail-on-error
