name: tests
on:
  push:
    branches:
      - main
    paths-ignore:
      - CHANGELOG.md
      - .gitignore
      - CODE_OF_CONDUCT.md
      - LICENSE.md
      - README.md
      - .deepsource.toml
      - docs/**
  pull_request:
    branches:
      - main

jobs:
  tests-base:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: |
          pip install .[strict,dev,optimizers]
          pip install git+https://github.com/Quantum-Accelerators/covalent-hpc-plugin.git

      - name: Set up Covalent server
        run: |
          echo "y" | covalent purge
          covalent start

      - name: Run tests with pytest
        run: pytest --cov=quacc --cov-report=xml

      - name: Stop Covalent server
        run: covalent stop

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'Quantum-Accelerators/quacc'

  tests-tblite:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,tblite]

      - name: Run tests with pytest
        run: pytest -k 'tblite' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'Quantum-Accelerators/quacc'

  tests-psi4:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: quacc-env

      - name: Install conda packages
        run: conda install -c psi4 psi4

      - name: Install pip packages
        run: pip install .[strict,dev]

      - name: Run tests with pytest
        run: pytest -k 'psi4' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'Quantum-Accelerators/quacc'

  tests-dftbplus:
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Set up conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: quacc-env

      - name: Install conda packages
        run: conda install -c conda-forge dftbplus

      - name: Install pip packages
        run: pip install .[strict,dev]

      - name: Run tests with pytest
        run: pytest -k 'dftb' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'Quantum-Accelerators/quacc'

  tests-altwflows:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[strict,dev,fireworks,parsl]

      - name: Run tests with pytest
        run: pytest -k 'jobflow or fireworks or parsl' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'Quantum-Accelerators/quacc'

  tests-defects:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10"]

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: pyproject.toml

      - name: Install pip packages
        run: pip install .[dev,defects]

      - name: Configure quacc
        run: quacc config

      - name: Run tests with pytest
        run: pytest -k 'defects' --cov=quacc --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: github.repository == 'quantum-accelerators/quacc'
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml

  release:
    runs-on: ubuntu-latest
    needs:
      [
        tests-base,
        tests-tblite,
        tests-psi4,
        tests-dftbplus,
        tests-altwflows,
        tests-defects,
      ]
    if: github.event_name == 'release' && needs.tests-base.result == 'success' && needs.tests-tblite.result == 'success' && needs.tests-psi4.result == 'success' && needs.tests-dftbplus.result == 'success' && needs.tests-altwflows.result == 'success' && needs.tests-defects.result == 'success'
    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Build and upload dist
        run: |
          pip install setuptools setuptools_scm wheel
          python pyproject.toml sdist bdist_wheel
          twine upload --skip-existing dist/*.tar.gz
        env:
          TWINE_USERNAME: __token __
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
